<div class="page-container"
ng-controller="CourseController">

	<div class="title-container">
		<div class="course-name">Small Steps, Big Changes</div>
		<div class="instructor">Dr. Drew Brazier</div>
	</div>

	<div class="overview-container">
	
		<div class="video-container">
			<img class="video" src="resources/dr-drew.png">		
		</div>

		<div class="content-container">
			<div class="tab-container">

				<div class="left choosable"
				     ng-click="onAboutTabClick()"
					 ng-class="{'sel'   : selOvTabIdx == 0, 
       			                'unsel' : selOvTabIdx != 0  }">
					 About Dr. Drew
				</div>
				<div class="middle choosable"
				     ng-click="onFocuesTabClick()"
					 ng-class="{'sel'   : selOvTabIdx == 1, 
       			                'unsel' : selOvTabIdx != 1  }">
					 Dr. Drew's Focus
				</div>
				<div class="right choosable"
				     ng-click="onCourseTabClick()"
					 ng-class="{'sel'   : selOvTabIdx == 2, 
       			                'unsel' : selOvTabIdx != 2  }">
					 Course Information
				</div>
			</div>
		<div class="desc-container">
			{{ overviewText }}
		</div>



		</div>
	</div>

	<div class="course-container">

		<div class="module-container"
			 ng-repeat="module in modules track by $index">

			<div class="video-container">
				<img class="video" src="resources/dr-drew.png">		
			</div>

			<div class="content-container">

				<div class="module-title">
					Video {{ $index+1 }} : {{ module.title }}
				</div>

				<div class="desc-container">
					{{ module.desc }}
				</div>

				<div class="tab-container">
					<div class="left"
					     ng-click="onWatchTabClick()">
						<span class="tab-text" 
						>Watch Now</span>
					</div>
					<div class="right"
					     ng-click="onPreviewTabClick()">
						<span class="tab-text">Preview</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>