<div class="details-container"
     ng-controller="DetailsController">

	<div class="title-container">
		<div class="course-name">Small Steps, Big Changes</div>
		<div class="instructor">Dr. Drew Brazier</div>
	</div>

	<div class="overview-container">

	<div class="image-container">
		<img src="resources/dr-drew.png" width=300>		
	</div>


	<div class="content-container">
		<div class="tab-container">
			<div class="left">left</div>
			<div class="middle">middle</div>
			<div class="right">right</div>
		</div>
		<div class="desc-container">
			drew is the man
		</div>
	</div>

</div>