@import "common.less";
@dbg-flg: false;

@video-width: 250px;

.landing-container {
	.dbg-border(@dbg-flg, black, solid);
	padding : 20px 25px; // TB RL

	.title-container {
		.dbg-border(@dbg-flg, blue, solid);
		.course-name { .set-text(@fu-lite-purple, xx-large, normal, left); }
		.instructor { .set-text(black, medium, normal, left);}
		border-bottom: 3px solid gray; 
	}

		.temp { 
			.set-text(@fu-lite-green, x-large, normal, left); 
			margin-top : 100px;
			margin-top : 100px;
		}

}
