.fu-font {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.choosable {
  cursor: pointer;
}
.Aligner {
  display: flex;
  align-items: center;
  min-height: 1em;
  justify-content: center;
}
.Aligner-item {
  flex: 1;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
.Aligner-item--center {
  align-self: flex-end;
}
.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}
